body{
  /* overflow: hidden; */
  font-family: sans-serif;
  margin: 0;
}
h1{
  text-transform: uppercase;
  text-align: center;
}
.facebook .feature{
  display: flex;
  flex-wrap: wrap;
}
.facebook .feature .facebook-account{
  display: flex;
  align-items: center;
}
.facebook .feature .facebook-account .facebook-avatar img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.facebook .feature .facebook-account .facebook-details{
  margin-top: auto;
}
h3{
  color: gray;
}
.facebook-details h2,
.facebook-details h3 {
  margin: 5px 10px; /* Khoảng cách giữa các phần tử h2 và h3 */
}