.game-board {
    margin: 25px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
}
.game-cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 80px;
    box-shadow: rgba(40, 40, 41, 0.2) 0px 8px 24px;
}
.game-cell.is-x {
    color: #008cff;
}
.game-cell.is-o {
    color: #ff1100;
}
.game-reset{
    margin: 25px;
    display: inline-block;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #e1d3f8;
    box-shadow: rgba(40, 40, 41, 0.2) 0px 8px 24px;
    border: none;
    outline: none;
}